@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Theme Colors */

:root {
  --primary: #1E3A8A;      /* deep blue */
  --secondary: #0EA5E9;    /* sky blue */
  --accent: #10B981;       /* green */
  --background: #F8FAFC;   /* light background */
  --text: #0F172A;         /* dark text */
}

body{
  background-color: var(--background);
  color: var(--text);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-30px) translateX(20px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes floatSlow {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(20px) translateX(-20px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-floatSlow {
  animation: floatSlow 12s ease-in-out infinite;
}